{% extends "./base.html" %}
{% load static %}

{% block content %}
    <h1 id="title"> KOR-ENG Medical Dictionary</h1>

    <form method="get" id="searchbar-form">
      {% csrf_token%}
      <div class="form-group">
        <input type="text" name="searchbar" id="searchbar" placeholder="Search a word">
        <button type="submit" class="btn btn-info">Search</button>
      </div>
    </form>

    {% if translated_word %}
      <div id="word-list-container">
        <a id="add-btn" href="{% url 'add_word'%}" type="button" style="margin-bottom:1%;" class="btn btn-info" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Add a word.">
          +
        </a>
        <div class="list-group" id="word-list">

        {% for word in translated_word %}
            {% if word.acronym != "" %}
            <div class="list-group-item">
              <div class="d-flex">
                <p class="mr-auto p-2"><strong>{{ word.term}}</strong>: {{word.translated}} ({{word.acronym}})</p>
                <div class="buttons" class="p-2">
                  <a href={% url 'update_word' word.id %} class="btn btn-outline-info btn-sm" role="button">Edit</a>
                  <a href={% url 'delete_word' word.id %} class="btn btn-outline-danger btn-sm" role="button">Delete</a>
                </div>
                </div>
                <p>{{word.note}} </p>
            </div>

            {% else %}
             <div class="list-group-item">
                <div class="d-flex">
                 <p class="mr-auto p-2"><strong>{{ word.term}}</strong>: {{word.translated}}</p>
                 <div class="buttons" class="p-2">
                   <a href={% url 'update_word' word.id %} class="btn btn-outline-info btn-sm" role="button">Edit</a>
                   <a href={% url 'delete_word' word.id %} class="btn btn-outline-danger btn-sm" role="button">Delete</a>
                 </div>
                </div>
                <p>{{word.note}}</p>
             </div>

            {% endif %}
          {% endfor %}
        </div>
      </div>

    {% endif %}
{% endblock content%}
