{% extends "./base.html" %}
{% load static %}

{% block content %}
    <h1 id="title"> KOR-ENG Medical Dictionary</h1>
    <form method="get" id="searchbar-form">
      <div class="form-group">
        <input type="text" name="searchbar" id="searchbar" placeholder="Search a word">
        <button type="submit" class="btn btn-info">Search</button>
      </div>
    </form>
    {% if translated_word %}

      <div id="word-list-container">
        <button id="add-btn" type="button" style="margin-bottom:1%;" class="btn btn-info" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Add a word.">+</button>
        <div class="list-group" id="word-list">
        {% for word in translated_word %}
            {% if word.acronym != "" %}
              <a href="#" class="list-group-item list-group-item-action"><strong>{{ word.term}}</strong>: {{word.translated}} ({{word.acronym}})<br>{{word.note}}</a>
            {% else %}
              <a href="#"class="list-group-item list-group-item-action"><strong>{{ word.term}}</strong>: {{word.translated}}<br>{{word.note}}</a>
            {% endif %}
          {% endfor %}
        </div>
      </div>

    {% endif %}
{% endblock content%}
