<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <link href="https://fonts.googleapis.com/css2?family=Kufam&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
   <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
   <link rel="stylesheet" type="text/css" href="{% static 'dictionary/main.css' %}">
   <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
   <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


    <title> Korean to English Medical Dictionary</title>
  </head>
  <body>
    <h1 id="title"> KOR-ENG Medical Dictionary</h1>

    <form method="get" id="searchbar-form">
      <div class="form-group">
        <input type="text" name="searchbar" id="searchbar" placeholder="Search a word">
        <button type="submit" class="btn btn-info">Search</button>
      </div>
    </form>
    {% if translated_word %}
      <div id="word-list-container">
        <ul class="list-group" id="word-list">
        {% for word in translated_word %}
            {% if word.acronym != "" %}
              <li class="list-group-item"><strong>{{ word.term}}</strong>: {{word.translated}} ({{word.acronym}})<br> {{word.note}}</li>
            {% else %}
              <li class="list-group-item"><strong>{{ word.term}}</strong>: {{word.translated}} <br> {{word.note}}</li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>

    {% else %}
      <div id="word-list-container">
        <ul class="list-group" id="word-list">
          {% for word in word_list %}
            {% if word.acronym != "" %}
              <li class="list-group-item"><strong>{{word.term}}</strong>: {{word.translated}} ({{word.acronym}})</li>
            {% else %}
              <li class="list-group-item"><strong>{{word.term}}</strong>: {{word.translated}} {{word.acronym}}</li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </body>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script>
      $(function () {
        $("#searchbar").autocomplete({
          source: '{% url 'index' %}'
        });
      });
    </script>
</html>
